body {
  background-color: rgb(41,41,41);
  color: white;
}
/*整體------*/
.layout{
  display:flex;
  height:100vh;
}

.main-area{
  display:flex;
}
/*------*/
/*左側------*/
.sidebar{
  width:40px; /* 收起來的寬度 */
  background:#f3f3f3;
  border-right:1px solid #d8d8d8;
  transition:width 0.25s;
  overflow:hidden;
}
/*------*/
/*頂部------*/
.topheader {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align:left;
  font-size: 20px;
  z-index: 1000; /* 最上層 */
}
/*------*/
/*內文------*/
.content{
  flex:1;
  padding:20px;
}
/*------*/
/*按鈕------*/
.top-role-btn {
  background-color: rgb(122,122,122);
  color: white;
  border: 2px solid black;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

.top-role-btn.active {
  background-color: rgb(224,224,224);
  color: rgb(0, 127, 255);
  border-radius: 10px;
  border: 2px solid #0080FF;
}
/*------*/
.visible-false {
  display: none;
}
.visible-false {
  display: none;
}









