/* 滾動條css */
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: rgb(219, 219, 219);
}

.search-suggestions .suggestion-section {
	padding: 0.3em 1em 0.1em 1em;
	font-size: 0.95em;
	color: #aaa;
	background: #232323;
	border-bottom: 1px solid #333;
	font-weight: bold;
}